.deletebtn{
  margin-left: 20vw;
  margin-top: 5vh;
}

.edit{
  margin-left: 6vw;
  margin-top: 5vh;
}
.continue{
  margin-right: 17vw;
}
.clear{
  margin-left: 8vw;
}
.checkout{
  margin-left: 26vw;
}
