.deletebtn{
  margin-left: 47vw;
  margin-top: 5vh;
}

.edit{
  margin-left: 2vw;
  margin-top: 5vh;
}
.continue{
  margin-right: 10vw;
}
.clear{
  margin-left: 4vw;
}
.checkout{
  margin-left: 4vw;
}
