.header{
  margin-bottom: 1vh;
  font-size: 13px;
  .bar:hover{
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 14px;
  }
  #home{
    font-size: 32px;
    font-weight: bold;
    &:hover{
      background-color: white;
      color: black;

    }
  }
}
