.bag-order{
  font-size: 16px;
  padding-right: 7vw;
}
#order-img{
  width:8vw;
  margin-left: 3.5vw;
}
.remain{
  color: black;
}
#bottom-line{
  border-bottom: 0.8px solid #9e9e9e4f;
  padding-right: 5vw;
}
#bag-name{
  font-size: 15px;
  margin-left: 1vw;
}
#product{
  margin-left: 2vw;
}
.unit{
  margin-left: 1vw;
}
#remain-stock{
  margin-left: 1vw;
}
