#order-product{
  margin-right: 2vw;
}
#bagname{
  margin-right: 2vw;
}
#time{
  margin-right: 2vw;
}
#sub{
  margin-right: 1.5vw;
}
#createdAt{
  margin-left: 1.2vw;
}
#amount{
  margin-left: 1.0vw;
}
