.name {
  font-size: 28px;
  color: black;
  font-family: $show-font;
  line-height: 2;
}
.brand {
  font-size: 22px;
  color: black;
  font-family: $show-font;
}
.price {
  font-size: 20px;
  color: black;
  font-family: $show-font;
}
.description {
  font-size: 18px;
  color: black;
  font-family: $show-font;
  line-height: 1.6;
}
.detail{
  font-size: 18px;
  color: black;
  font-family: $show-font;
  line-height: 1.6;
}
.add{
  margin-top: 3vh;
}
#add-btn{
  margin-left: -25vw;
  width:60%;
}
.hurry{
  font-style: italic;
  font-size: 16px;
  font-family: $index-font;
  padding: 1vh;
  margin-left: -1vw;
  opacity: 1;
  animation: fade 3s linear infinite;
}
@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}
