@import "components/header";
@import "components/flash";
@import "components/button";
@import "components/variable";
@import "pages/home";
@import "pages/index";
@import "pages/show";


.pic {
  height: 90vh;
  overflow: auto;
}

#pics{
  width:40%;
  height:30%;
}
#history-pic{
  width:50%;
  height:50%;
}
.fas{
  font-size: 15px;
}
#sold-pic{
  width:50%;
  height:30%;
}
.font{
  font-size: 15px;
}
.order-title{
  letter-spacing: 3px;
}
.bag-name{
  font-size: 15px;
}
.bag-order{
  font-size: 16px;
}
.order-img{
  width:8vw;
}
.remain{
  color: black;
}
