@import "components/header";
@import "pages/home";

.index {
  height: 70vh;
  overflow: auto;
}

.pic {
  height: 70vh;
  overflow: auto;
}

.index-img:hover{
    opacity: 0.2;
}
.deletebtn{
  margin-left: 20vw;
}

.edit{
  margin-left: 31vw;
}


.flash-container {
  position: relative;
  width: 30%;
  margin-left:35vw;
  // margin: 0 auto;
  .notification {
    background-color: grey;
    position: absolute;
    animation: slidein 0.5s linear;
    z-index: 2;
    // margin: 0 auto;
  }
}


@keyframes slidein {
  from {
    top: -300px;
  }
  to {
    top: 0;
  }
}
